*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    font-family: 'Forum', cursive;
    color: #FFF;
    background-color: #3b181e;
    overflow: hidden;
}

.section-1 {
    background-image: url("main.jpg");
    min-height: 1044px;
    background-repeat: no-repeat;
}

.header {
    padding: 80px 0 0;
}

.container {
    max-width: 1750px;
    padding: 0 10px;
    margin: 0 auto;
}

.header-content {
    
    display: flex;
    justify-content: space-between;
}

.burger-menu {
    display: flex;
    align-items: center;
}


.burger{
    margin-right: 15px;
}

.burger > div {
    width: 23px;
    height: 2px;
    background: #FFF;
    margin-bottom: 6px;
}

.burger > div:last-child{
    margin-bottom: 0;
}

.menu {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.tagline {
    max-width: 820px;
    margin: 165px auto 80px;
    text-align: center;
    font-size: 120px;
    line-height: 132px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

.buttons {
    text-align: center;
    margin-bottom: 40px;
}

.button {
    font-family: 'Forum', cursive;
    padding: 17px 30px;
    text-transform: uppercase;
    color: #FFF;
}

.button1 {
    width: 200px;
    font-size: 12px;
    letter-spacing: 0.15em;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.smwrapper > li {
    margin-bottom: 24px;
}

.smwrapper > li:last-child {
    margin-bottom: 0;
}

.see-catalog-content {
    font-size: 20px;
    letter-spacing: 0.06em;
    margin-right: 30px;
}

.see-catalog {
    display: flex;
    align-items: center;
    transform: translateX(50%) rotateZ(90deg) translateX(-50%) translateY(50%);
}

.see-catalog-arrow {
    transform: rotateZ(-90deg);
}

.mouse-wrapper {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
}

.transparency {
    margin-top: 43px;
    height: 90px;
    background-image: linear-gradient(0deg, #3B181E 3.33%, rgba(59, 24, 30, 0) 100%);
    
}

.section-2 {
    position: relative;
    
}

.catalog-services {
    margin: 172px 0 22px;
    font-size: 30px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.line > div {
    margin: 0 auto 0;
    width: 86px;
    height: 2px;
    background: #FFF;
}   

.catalog-services-2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 220px;
    letter-spacing: 0.06em;
    opacity: 0.03;
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.pictures {
    display: flex;
    margin: 98px 210px 170px;
    position: relative;
}

.pictures > div {
    margin-right: 60px;
    opacity: 1;
}

.pictures > div:last-child {
    margin-right: 0;
}

.photo {
    position: relative;
}

.line-number-title {
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 40px;
    left: 20px;
}

.line-title {
    width: 70px;
    height: 2px;
    background: #FFF;
    margin-right: 10px;
}

.number-title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    margin-right: 12px;
}

.photo-title {
    position: absolute;
    left: 20px;
    bottom: 19px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
    opacity: 0.9;
}

.promo {
    margin: 170px 350px 170px;
    display: flex;
}

.promo-content {
    margin-right: 164px;
}

.promo-content-title {
    font-size: 30px;
    line-height: 51px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    padding-top: 65px;
    margin-bottom: 15px;
}

.promo-line {
    width: 86px;
    height: 2px;
    background: #FFF;
    margin-bottom: 25px;
}

.promo-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 45px;
    width: 352px;
}

.button2 {
    width: 220px;
    font-size: 11px;
    letter-spacing: 0.15em;
    background-color:#010001;
    border: none;
}

.footer-line {
    width: 1815px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 52px 21px;
}

.menu-links {
    margin: 0 463px 30px;
    display: flex;
}

.menu-links a {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.5;
}

.menu-links a:hover {
    color: #FFFFFF;
    opacity: 1;
}

.menu-links > div {
    margin-right: 50px;
}

.menu-links > div:last-child {
    margin-right: 0;
}

.socialmedia-footer {
    margin: 0 835px 30px;
    display: flex;
}

.socialmedia-footer > li {
    margin-right: 50px;
}

.socialmedia-footer > li:last-child {
    margin-right: 0;
}